@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* container size */
.max-w-1160 {
  max-width: 1160px !important;
}

.max-w-1060 {
  max-width: 1060px !important;
}

/* font family */
.font-family-first {
  font-family: "Poppins", sans-serif;
}

.font-family-second {
  font-family: "Roboto", sans-serif;
}

/* line-height  */
.lh-100 {
  line-height: 100%;
}

.lh-128 {
  line-height: 128%;
}

.lh-162 {
  line-height: 162%;
}

/* hero */
.get-btn {
  padding: 16px 41.5px;
  border-radius: 60px;
  border: 1px solid white;
  transition: all 200ms linear;
}

.get-btn:hover {
  background-color: #FFFFFF7A !important;
  color: white !important;
  border: 1px solid #FFFFFF7A;
}

.try-btn {
  padding: 17px 50.5px;
  border-radius: 60px;
  color: #1E71FF;
  transition: all 200ms linear;
}

.try-btn:hover {
  background-color: #FFFFFF7A !important;
  color: white !important;
}

.bg-color-blue {
  background-color: #1E71FF;
}

.max-w-585 {
  max-width: 585px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-60 {
  margin-bottom: 60px;
}

.gap-36 {
  gap: 36px;
}

.fs-75 {
  font-size: 75px;
}

.fs-21 {
  font-size: 21px;
}

.pt-134 {
  padding-top: 134px;
}

.pb-160 {
  padding-bottom: 160px;
}

/* instant */
.fs-45 {
  font-size: 45px;
}

.color-dark-grey {
  color: #2B353E;
}

.mb-30 {
  margin-bottom: 30px;
}

.fs-18 {
  font-size: 18px;
}

.color-light-grey {
  color: #2B353EB2;
}

.max-w-566 {
  max-width: 566px;
}

.max-h-663 {
  max-height: 663px;
}

.pt-90 {
  padding-top: 90px;
}

.pb-180 {
  padding-bottom: 180px;
}

@media (max-width:991.98px) {
  .pt-134 {
    padding-top: 120px;
  }

  .pb-160 {
    padding-bottom: 120px;
  }
}

@media (max-width:767.98px) {
  .pt-134 {
    padding-top: 80px;
  }

  .pb-160 {
    padding-bottom: 80px;
  }

  .mb-60 {
    margin-bottom: 35px;
  }

  .fs-75 {
    font-size: 52px;
  }

  .pt-90 {
    padding-top: 80px;
  }

  .pb-180 {
    padding-bottom: 80px;
  }
}

@media (max-width:575.98px) {
  .gap-36 {
    gap: 10px;
  }

  .fs-75 {
    font-size: 32px;
  }

  .mb-60 {
    margin-bottom: 20px;
  }

  .pt-134 {
    padding-top: 40px;
  }

  .pb-160 {
    padding-bottom: 40px;
  }

  .fs-45 {
    font-size: 32px;
  }

  .mb-30 {
    margin-bottom: 20px;
  }

  .pt-90 {
    padding-top: 40px;
  }

  .pb-180 {
    padding-bottom: 40px;
  }
}