@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* container size */
.max-w-1160 {
  max-width: 1160px !important;
}

.max-w-1060 {
  max-width: 1060px !important;
}

.max-w-1162 {
  max-width: 1162px !important;
}

/* font family */
.font-family-first {
  font-family: "Poppins", sans-serif;
}

.font-family-second {
  font-family: "Roboto", sans-serif;
}

/* line-height  */
.lh-100 {
  line-height: 100%;
}

.lh-115 {
  line-height: 115%;
}

.lh-128 {
  line-height: 128%;
}

.lh-162 {
  line-height: 162%;
}

/* header */
.fw-275 {
  font-weight: 275;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.gap-30 {
  gap: 30px;
}

.nav-btn {
  padding: 13px 24.5px;
  background: #FFFFFF33;
  border-radius: 210px;
}

.fs-14 {
  font-size: 14px;
}

.menu-lines {
  width: 30px;
  height: 5px;
  margin-bottom: 5px;
  display: block;
  transition: all 300ms linear;
  transform-origin: left;
  border-radius: 10px;
  background-color: #fff;
}

.rotate-42 {
  transform: rotate(42deg);
}

.rotate-43 {
  transform: rotate(-43deg);
}

.bg-transparent {
  background-color: transparent !important;
}

.z-5 {
  z-index: 5;
}

/* hero */
.get-btn {
  padding: 16px 41.5px;
  border-radius: 60px;
  border: 1px solid white;
  transition: all 200ms linear;
}

.get-btn:hover {
  background-color: #FFFFFF7A !important;
  color: white !important;
  border: 1px solid #FFFFFF7A;
}

.try-btn {
  padding: 17px 50.5px;
  border-radius: 60px;
  color: #1E71FF;
  transition: all 200ms linear;
}

.try-btn:hover {
  background-color: #FFFFFF7A !important;
  color: white !important;
}

.bg-color-blue {
  background-color: #1E71FF;
}

.max-w-585 {
  max-width: 585px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-60 {
  margin-bottom: 60px;
}

.gap-36 {
  gap: 36px;
}

.fs-75 {
  font-size: 75px;
}

.fs-21 {
  font-size: 21px;
}

.pt-134 {
  padding-top: 134px;
}

.pb-160 {
  padding-bottom: 160px;
}

/* instant */
.fs-45 {
  font-size: 45px;
}

.color-dark-grey {
  color: #2B353E;
}

.mb-30 {
  margin-bottom: 30px;
}

.fs-18 {
  font-size: 18px;
}

.color-light-grey {
  color: #2B353EB2;
}

.max-w-566 {
  max-width: 566px;
}

.max-h-663 {
  max-height: 663px;
}

.pt-90 {
  padding-top: 90px;
}

.pb-180 {
  padding-bottom: 180px;
}

/* perfect */
.max-w-816 {
  max-width: 816px;
}

.bg-light-sky {
  background-color: #E9F1FF;
}

.pt-166 {
  padding-top: 166px;
}

.pb-209 {
  padding-bottom: 209px;
}

.fs-17 {
  font-size: 17px;
}

.try-btn-2 {
  border-radius: 60px;
  padding: 16.5px 46px;
  transition: all 200ms linear;
}

.try-btn-2:hover {
  background-color: #1E71FFBF;
}

.get-btn-2 {
  border: 1px solid #1E71FF;
  color: #1E71FF;
  border-radius: 60px;
  padding: 15.5px 39.5px;
  transition: all 200ms linear;
}

.get-btn-2:hover {
  color: white;
  background-color: #1E71FFBF !important;
  border: 1px solid #1E71FFBF;
}

.line {
  width: 167px;
  height: 1px;
  background-color: #2B353E26;
  margin-top: 90px;
}

.mt-40 {
  margin-top: 40px;
}

.gap-25 {
  gap: 25px;
}

.max-w-274 {
  max-width: 274px;
}

.top-124 {
  top: 124px;
}

.left-0 {
  left: 0;
}

.max-w-467 {
  max-width: 467px;
}

/* footer */
.fw-200 {
  font-weight: 200;
}

.fs-26 {
  font-size: 26px;
}

.color-blue {
  color: #1E71FF;
}

.mt-18 {
  margin-top: 18px;
}

.fs-13 {
  font-size: 13px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mt-180 {
  margin-top: 180px;
}

.footer-link {
  transition: all 200ms linear;
}

.footer-link:hover {
  color: #1E71FF !important;
}

.fs-15 {
  font-size: 15px;
}

/* back to top */
.back-to-top-btn {
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  transition: all 300ms linear;
  background-color: transparent;
  height: 40px;
  width: 40px;
}

.back-to-top-btn:hover {
  background-color: #1E71FF;
  height: 40px;
  width: 40px;
  border-radius: 50px;
}

@media (min-width:992px) {
  .max-w-168 {
    max-width: 168px;
  }
}

@media (min-width:1200px) {
  .position-lg-absolute {
    position: absolute;
  }
}

@media (max-width:1350.98px) {
  .max-w-816 {
    max-width: 700px;
  }

  .top-124 {
    top: 17%;
  }
}

@media (max-width:1199.98px) {
  .max-w-816 {
    max-width: 816px;
  }
}

@media (max-width:991.98px) {
  .nav-link {
    flex-direction: column;
    background: #1E71FF !important;
    width: 100%;
    min-height: 100vh;
    position: fixed;
    justify-content: center;
    bottom: 0;
    right: -100% !important;
    top: 0%;
    transition: all 300ms linear !important;
    z-index: 3;
    align-items: center;
  }

  .show-navbar {
    right: 0 !important;
  }

  .pt-134 {
    padding-top: 120px;
  }

  .pb-160 {
    padding-bottom: 120px;
  }

  .pt-166 {
    padding-top: 120px;
  }

  .pb-209 {
    padding-bottom: 120px;
  }

  .mb-60 {
    margin-bottom: 45px;
  }

  .line {
    margin-top: 50px;
  }

  .mt-180 {
    margin-top: 120px;
  }
}

@media (max-width:767.98px) {
  .pt-134 {
    padding-top: 80px;
  }

  .pb-160 {
    padding-bottom: 80px;
  }

  .mb-60 {
    margin-bottom: 35px;
  }

  .fs-75 {
    font-size: 52px;
  }

  .pt-90 {
    padding-top: 80px;
  }

  .pb-180 {
    padding-bottom: 80px;
  }

  .pt-166 {
    padding-top: 80px;
  }

  .pb-209 {
    padding-bottom: 80px;
  }

  .line {
    margin-top: 35px;
  }

  .mt-180 {
    margin-top: 80px;
  }
}

@media (max-width:575.98px) {
  .gap-36 {
    gap: 10px;
  }

  .fs-75 {
    font-size: 32px;
  }

  .mb-60 {
    margin-bottom: 20px;
  }

  .pt-134 {
    padding-top: 40px;
  }

  .pb-160 {
    padding-bottom: 40px;
  }

  .fs-45 {
    font-size: 32px;
  }

  .mb-30 {
    margin-bottom: 20px;
  }

  .pt-90 {
    padding-top: 40px;
  }

  .pb-180 {
    padding-bottom: 40px;
  }

  .pt-166 {
    padding-top: 40px;
  }

  .pb-209 {
    padding-bottom: 40px;
  }

  .gap-30 {
    gap: 15px;
  }

  .line {
    margin-top: 20px;
  }

  .mt-40 {
    margin-top: 24px;
  }

  .try-btn-2 {
    padding: 16.5px 44px;
  }

  .get-btn-2 {
    padding: 15.5px 37px;
  }

  .mt-180 {
    margin-top: 40px;
  }
}